body {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    font-weight: 700;
    width: 480px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color);

    --bg-color: #3b4664;
    --title-color: #ffffff;
    --theme-button: #d04238;
    --theme-active-button: #f86b61;
    --theme-button-bg: #252d44;
    --input-color: #181f32;
    --input-text-color: #ffffff;
    --keyboard-bg-color: #262c46;
    --button-bg-color: #eae3db;
    --button-number-color: #262c46;
    --button-shadow-color: #b0a295;
    --button-active-color: #ffffff;
    --button-del-reset-color: #647299;
    --button-del-reset-text-color: #ffffff;
    --button-del-reset-shadow-color: #424e76;
    --button-del-reset-active-color: #a2b2e3;
    --button-equal-color: #d13f30;
    --button-equal-shadow-color: #922619;
    --button-equal-active-color: #f96c5b;
}

body.theme2 {
    --bg-color: #e6e6e6;
    --title-color: #34342a;
    --theme-button: #d45300;
    --theme-active-button: #ff8733;
    --theme-button-bg: #d0ced1;
    --input-color: #eeeeee;
    --input-text-color: #34342a;
    --keyboard-bg-color: #d3cdcd;
    --button-bg-color: #e5e4e0;
    --button-number-color: #34342a;
    --button-shadow-color: #a79e8f;
    --button-active-color: #ffffff;
    --button-del-reset-color: #388187;
    --button-del-reset-text-color: #ffffff;
    --button-del-reset-shadow-color: #1a6165;
    --button-del-reset-active-color: #62b5bd;
    --button-equal-color: #c85401;
    --button-equal-shadow-color: #863901;
    --button-equal-active-color: #ff8b38;
}

body.theme3 {
    --bg-color: #17062a;
    --title-color: #fedf37;
    --theme-button: #00ddcd;
    --theme-active-button: #91fff9;
    --theme-button-bg: #1e0836;
    --input-color: #1e0836;
    --keyboard-bg-color: #1e0836;
    --button-bg-color: #331b4d;
    --button-number-color: #fedf37;
    --button-shadow-color: #861b9f;
    --button-active-color: #6b34ac;
    --button-del-reset-color: #55087c;
    --button-del-reset-text-color: #ffffff;
    --button-del-reset-shadow-color: #bf16f5;
    --button-del-reset-active-color: #8631b0;
    --button-equal-color: #00decf;
    --button-equal-shadow-color: #6dfaf1;
    --button-equal-active-color: #94fff9;
}

.title-theme {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.title {
    color: var(--title-color);
}

.theme {
    color: var(--title-color);
    display: flex;
    flex-flow: row nowrap;
}

.theme-t {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    font-size: 15px;
    margin: 0;
}

.p-theme {
    font-size: 15px;
    margin: 0 0 0.2em 0;
}

.theme-range {
    font-size: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.theme-amount {
    display: flex;
    flex-flow: row nowrap;
}

.theme-amount p {
    margin: 0 0.4em;
}

#toggle {
    -webkit-appearance: none;
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    background-color: var(--theme-button-bg);
    background-size: cover;
}

#toggle::before {
    content:"";
    position: absolute;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    background-color: var(--theme-button);
    border-radius: 50px;
}

#toggle:checked:before {
    transform: translate(100%);
}

#toggle:checked {
    background-color: var(--theme-button-bg);
}

.screens {
    margin: 0 0 0.5em 0;
}

.screen2 {
    font-size: 16px;
    font-family: 'League Spartan';
    color: var(--input-text-color);
    padding: 0.5em;
    background-color: var(--input-color);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 103.4%;
    outline: none;
}

.screen {
    font-size: 32px;
    font-family: 'League Spartan';
    color: var(--input-text-color);
    padding: 0.5em;
    background-color: var(--input-color);
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    outline: none;
}

.keyboard {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    background-color: var(--keyboard-bg-color);
    border-radius: 5px;
}

.row, .row2 {
    margin: 0.5em auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.row button {
    font-family: 'League Spartan';
    font-size: 32px;
    display: flex;
    margin: 0 0.5em 0 0;
    width: 5em;
    padding: 0.3em 0;
    justify-content: space-evenly;
    background-color: var(--button-bg-color);
    color: var(--button-number-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px var(--button-shadow-color);
    cursor: pointer;
}

.row button:active {
    background-color: var(--button-active-color);
}

.row2 button {
    width: 13em;
    font-size: 32px;
    margin: 0 0.5em 0 0;
    padding: 0.5em 0;
    font-family: 'League Spartan';
    border: none;
    border-radius: 5px;
}

.key_reset, #del {
    background-color: var(--button-del-reset-color);
    box-shadow: 0px 2px var(--button-del-reset-shadow-color);

    color: var(--button-del-reset-text-color);
    cursor: pointer;
}

.key_reset:active, #del:active {
    background-color: var(--button-del-reset-active-color);
}

.key_equals {
    background-color: var(--button-equal-color);
    box-shadow: 0px 2px var(--button-equal-shadow-color);
    color: var(--button-del-reset-text-color);
    cursor: pointer;
}

.key_equals:active {
    background-color: var(--button-equal-active-color);
}