body {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--bg-color);

    --bg-color: #3b4664;
    --title-color: #ffffff;
    --theme-button: #d04238;
    --theme-active-button: #f86b61;
    --input-color: #181f32;
    --keyboard-bg-color: #262c46;
    --button-bg-color: #eae3db;
    --button-number-color: #262c46;
    --button-shadow-color: #b0a295;
    --button-active-color: #ffffff;
    --button-del-reset-color: #647299;
    --button-del-reset-shadow-color: #d13f30;
    --button-del-reset-active-color: #a2b2e3;
    --button-equal-color: #d13f30;
    --button-equal-shadow-color: #922619;
    --button-equal-active-color: #f96c5b;
}

body.theme2 {
    --bg-color: #e6e6e6;
    --title-color: #34342a;
    --theme-button: #d45300;
    --theme-active-button: #ff8733;
    --input-color: #eeeeee;
    --keyboard-bg-color: #d3cdcd;
    --button-bg-color: #e5e4e0;
    --button-number-color: #34342a;
    --button-shadow-color: #a79e8f;
    --button-active-color: #ffffff;
    --button-del-reset-color: #388187;
    --button-del-reset-shadow-color: #1a6165;
    --button-del-reset-active-color: #62b5bd;
    --button-equal-color: #c85401;
    --button-equal-shadow-color: #863901;
    --button-equal-active-color: #ff8b38;
}

body.theme3 {
    --bg-color: #17062a;
    --title-color: #fedf37;
    --theme-button: #00ddcd;
    --theme-active-button: #91fff9;
    --input-color: #1e0836;
    --keyboard-bg-color: #1e0836;
    --button-bg-color: #331b4d;
    --button-number-color: #fedf37;
    --button-shadow-color: #861b9f;
    --button-active-color: #6b34ac;
    --button-del-reset-color: #55087c;
    --button-del-reset-shadow-color: #bf16f5;
    --button-del-reset-active-color: #8631b0;
    --button-equal-color: #00decf;
    --button-equal-shadow-color: #6dfaf1;
    --button-equal-active-color: #94fff9;
}

.title-theme {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.theme {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#range {
    width: 50px;
}

#visor {
    width: 99.2%;
    background-color: blue;
    border: none;
}

.keyboard {
    text-align: center;
    width: 100%;
    background-color: blue;
}

.row, .row2 {
    margin: 1em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row button {
    display: flex;
    width: 5em;
    padding: 0.5em 0;
    justify-content: space-evenly;
}

.key_reset, .key_equals {
    width: 13em;
    padding: 0.5em 0;

}